{% extends "base.html" %}
{% block content %}
    <h1>Flota pojazdów</h1>
    {% for car in object_list %}
        <p><a href="{% url 'car_detail' car.id %}">
            <b>{{ car.brand }} {{ car.model }}</b></a></p>
        {% if car.avatar %}
            <span class="avatar">
                <img src="{% url 'images' car.avatar %}"
                     height="150" width="250">
            </span>
        {% else %}
            <p>Brak zdjęcia</p>
        {% endif %}
    {% endfor %}

{% endblock %}`