{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'macan_wall.jpg' %}" class="d-block w-100" alt="macan">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Witaj na naszej stronie</h1>
                    <p>Wybieraj spośród wielu naszych ekscytujących samochodó∑</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'amg_wall.jpeg' %}" class="d-block w-100" alt="amg">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Mercedes SL63 AMG</h1>
                    <p>Nasz najszybszy samochód</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'tesla_wall.jpeg' %}" class="d-block w-100" alt="tesla">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Tesla 3</h1>
                    <p>Postaw na ekologię! Wybierz samochód z napędem elektrycznym!</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2 class="text-primary" xmlns="http://www.w3.org/1999/html">Filtruj samochody:</h2>
            <form action="" method="get">
                <div class="mb-3">
                    <label for="{{ filter.form.start_date.id_for_label }}" class="form-label"><strong>Data od:</strong></label>
                    {{ filter.form.start_date }}
                </div>
                <div class="mb-3">
                    <label for="{{ filter.form.end_date.id_for_label }}" class="form-label"><strong>Data do:</strong></label>
                    {{ filter.form.end_date }}
                    <div id="date_error" class="text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="{{ filter.form.engine.id_for_label }}" class="form-label"><strong>Silnik:</strong></label>
                    {{ filter.form.engine }}
                </div>
                <div class="mb-3">
                    <label for="{{ filter.form.transmission.id_for_label }}" class="form-label"><strong>Skrzynia biegów:</strong></label>
                    {{ filter.form.transmission }}
                </div>
                <div class="mb-3">
                    <label for="{{ filter.form.drive.id_for_label }}" class="form-label"><strong>Napęd:</strong></label>
                    {{ filter.form.drive }}
                </div>
                <div class="mb-3">
                    <label for="{{ filter.form.cars_type.id_for_label }}" class="form-label"><strong>Typ pojazdu:</strong></label>
                    {{ filter.form.cars_type }}
                </div>
                <button id="filter-button" type="submit" class="btn btn-primary">Filtruj</button>
            </form>
        </div>
        <div class="col-md-8">
            <h2 class="text-primary" xmlns="http://www.w3.org/1999/html">Dostępne samochody:</h2>
            <div class="row">
                {% if object_list %}
                    {% for car in object_list %}
                        <div class="col-md-6 mb-4">
                            <div class="card">
                                <div class="image-container">
                                    {% if car.avatar %}
                                        <img src="{% url 'images' car.avatar %}" class="card-img-top" alt="Car Image">
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ car.brand }} {{ car.model }} {{ car.year }}</h5>
                                    <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">Szczegóły</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col">
                        <p>Brak dostępnych pojazdów.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var startDateField = document.getElementById("id_start_date");
        var endDateField = document.getElementById("id_end_date");
        var dateError = document.getElementById("date_error"); // Div dla wspólnego błędu

        startDateField.addEventListener("change", validateDate);
        endDateField.addEventListener("change", validateDate);

        function validateDate() {
            var startDate = new Date(startDateField.value);
            var endDate = new Date(endDateField.value);
            var today = new Date();
            var todayFormatted = today.toISOString().split('T')[0];

            today.setHours(0, 0, 0, 0);

            if (startDate.getTime() < today.getTime()) {
                dateError.innerText = "Nieprawidłowo ustawiona data";
                startDateField.value = "";
            } else if (endDate.getTime() < startDate.getTime()) {
                dateError.innerText = "Nieprawidłowo ustawiona data";
                endDateField.value = "";
            } else {
                dateError.innerText = "";
            }
        }
    });
</script>
{% endblock %}
