{% extends 'base.html' %}

{% block content %}
    <h1 class="text-primary">Moje Rezerwacje</h1>
    <br>
    {% if rentals %}
        <table class="table caption-top">
            <caption>Oto lista Twoich rezerwacji, możesz je edytować lub usunąć.</caption>
            <thread>
                <tr class="table-dark">
                    <th scope="col">Samochód</th>
                    <th scope="col">Data od:</th>
                    <th scope="col">Data do:</th>
                    <th scope="col">Cena:</th>
                    <th scope="col">Akcja:</th>
                </tr>
            </thread>
            <tbody>
                {% for rental in rentals %}
                <tr>
                    <td>{{ rental.rental_terms.car }}</td>
                    <td>{{ rental.start_date.date }}</td>
                    <td>{{ rental.end_date.date }}</td>
                    <td>{{ rental.amount }} </td>
                    <td>
                        <a href={% url 'rent_update' rent.id %}>
                            <button class="btn btn-primary btn-sm" type="submit">Edytuj</button>
                        </a>
                        <button class="btn btn-primary btn-sm" type="submit">Usuń</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Brak dostępnych rezerwacji.</p>
    {% endif %}

{% endblock %}
