{% extends "base.html" %}

{% block content %}
<div class="container">
  <style>
        .container {
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
        }
        h2 {
          text-align: center;
        }
    </style>
  <h2>Zaloguj się</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Zaloguj się</button>
  </form>
</div>
{% endblock %}
