.AvSearch{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #4f4f4f;
    background-color: #4f4f4f;
    margin-top: 20px;
    border-radius: 20px;
}

.form-control.is-valid{
    width: 100px;
}